/* style specific to main.handlebars */

body {
	background-color: #8081bf;
}

h1 {
	color: #e2d9d9;
}

img {
	margin: auto;
	width: 130px;
	display: block;
}

textarea {
	width: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* style for main.handlebars and index.handlebars */

h1, .col-lg-4, h3, form, footer {
	text-align: center;
}